@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars for hacker terminal feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #170E0E;
}

::-webkit-scrollbar-thumb {
  background: #8F0E0E;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D93E3E;
}
